{{#partial "content"}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-danger" href="/">Home <span class="sr-only">heroes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#"> squad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#">hero</a>
                </li>
            </ul>
        </div>
    </nav>



    {{#each Not_endangered1}}
        <div class="card col-lg-9">
            <h1 class="text-center card-title" id="squad"> animal name:{{name}}</h1>
        </div>
        <a href="/non_endangered/delete" class="btn btn-lg btn-success col-md-6 mt-5"> delete animal</a>
    {{/each}}

{{/partial}}
{{> layout.hbs}}