{{#partial "content"}}

    {{#each nonEndangered}}
        <p>animal found was a {{name}} and is not endangered</p>

    {{/each}}


    <a href="/non_endangered/all" class="btn btn-lg btn-success col-md-6"> view all none endangered animals</a>

    <a href="/non_endangered/delete" class="btn btn-lg btn-success col-md-6 mt-5"> delete animal</a>
{{/partial}}
{{> layout.hbs}}