{{#partial "content"}}
    {{#each Not_endangered1}}
        <div class="card col-lg-9">
            <h1 class="text-center card-title" id="squad"> animal name:{{name}}</h1>
        </div>
        <a href="/non_endangered/delete" class="btn btn-lg btn-success col-md-6 mt-5"> delete animal</a>
    {{/each}}

{{/partial}}
{{> layout.hbs}}