{{#partial "content"}}

    {{#each endangeredAll1}}
        <p>animal found was a {{name}} and is not endangered</p>

    {{/each}}


    <a href="/non_endangered/all" class="btn btn-lg btn-secondary col-md-4"> all animals</a>

    <a href="/non_endangered/delete" class="btn btn-lg btn-secondary col-md-6 mt-3"> delete animal</a>
{{/partial}}
{{> layout.hbs}}