{{#partial "content" class="bg_1"}}
    <br>
    <br>
    <br>
    <div class="text-center text-white mt-5">
        <h1 class="text-center welcome" >WILDLIFE TRACKING SERVICES!</h1>
        <hr>
        <p>Because our nature is so precious</p>
        <p>Animals Records </p>
        <div class="row justify-content-center">
            <div class="col-md4">
                <a href="/animal" class="btn btn-lg btn-outline-secondary mx-3">New animal</a>
            </div>
            <br>
            <div class="col-md4">
                <a href="/endangered" class="btn btn-lg btn-outline-danger">New endangered</a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}

<!--123456789-->