{{#partial "content"}}


    <form action="/endangered_view/new" method="post">
        <div class="form-group text-white">
            <label for="">Animal name</label>
            <input type="text" class="form-control" name="name" id="name" class="name" placeholder="name" required>
        </div>
        <div class="form-group text-white">
            <label for="age">Animal Age</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="age" id="age" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                    Adult
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="age" id="age" value="option1" checked>
                <label class="form-check-label" for="age">
                    Young
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="age" id="age" value="option1" checked>
                <label class="form-check-label" for="age">
                    New-born
                </label>
            </div>
        </div>
        <div>
            <label class="text-white text-white" for="health">Animal Health</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="health" id="health" value="option1" checked>
                <label class="form-check-label" for="health">
                    ill
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="health" id="health" value="option1" checked>
                <label class="form-check-label" for="health">
                    average
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="health" id="health" value="option1" checked>
                <label class="form-check-label" for="health">
                    healthy
                </label>
            </div>
        </div>
        <div>
            <label  class="text-white text-white" for="location">Location</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location" value="option1" checked>
                <label class="form-check-label" for="location">
                    Zone A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location" value="option1" checked>
                <label class="form-check-label" for="location">
                    Zone B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location" value="option1" checked>
                <label class="form-check-label" for="location">
                    Zone C
                </label>
            </div>
        </div>
        <div class="form-group text-white">
            <label for="ranger">Ranger name</label>
            <input type="text" class="form-control" name="ranger" id="ranger" class="ranger" placeholder="Ranger name" required>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-outline-danger">Add Animal</button>
        </div>
    </form>

{{/partial}}
{{> layout.hbs}}